@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
}

.logo {
  margin-right: 15px;
  padding: 0 13px;
  font-size: 22px;
  background-color: #eceff1;
  font-family: Roboto;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #333;
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider {
  width: 340px;
  margin: 010px;
  display: inline-block;
}

.rc-slider-track {
  background: transparent;
}
.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: green;
  outline: none;
  border: 2px solid green;
  box-shadow: none;
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
}
